<div class="container">
    <h1 class="title">
        <span>Personal Information</span>
    </h1>
    <div class="row">
        <div class="column">
            <table>
                <tbody>
                    <tr *ngFor="let row of myData">
                        <td *ngFor="let col of row">{{col}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <section>
                <p *ngFor="let sentence of aboutMe">
                    {{sentence}}
                </p>
            </section>
        </div>
    </div>
</div>